body {
  background-color: var(--color-bg);
  color: var(--color-text);
  overflow-x: hidden;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: var(--font-size-lg);
  font-weight: 600;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
  padding: 1.6rem 3.2rem;
  border-radius: var(--border-radius-lg);
  border: none;
}

.btn--full:link,
.btn--full:visited {
  background-color: var(--color-primary);
  color: var(--color-bg);
}

.btn--full:hover,
.btn--full:active {
  background-color: var(--color-text);
  color: var(--color-bg);
}

.btn--outline:link,
.btn--outline:visited {
  background-color: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.btn--white:link,
.btn--white:visited {
  background-color: var(--color-white);
  color: var(--color-bg);
}

