* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
  color: var(--font-color);
}

.container {
  /* 1140px */
  max-width: 140rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.heading-primary {
  font-size: var(--font-size-5xl);
  font-weight: 900;
  line-height: 1.05;
  margin-bottom: var(--spacing-md);
  color: var(--color-text);
}

.heading-secondary {
  font-size: var(--font-size-4xl);
  line-height: 1.1;
  font-weight: 800;
  color: var(--color-text);
}

.heading-tertiary {
  font-size: var(--font-size-3xl);
  line-height: 1.2;
  margin-bottom: var(--spacing-md);
  color: var(--color-text);
}

.subheading {
  display: block;
  font-size: var(--font-size-md);
  font-weight: 600;
  color: var(--color-primary);
  text-transform: uppercase;
  margin-bottom: var(--spacing-sm);
  letter-spacing: 1px;
}


.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

*:focus {
  outline: none;
  /* outline: 4px dotted #e67e22; */
  /* outline-offset: 8px; */
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

/* HELPER/SETTINGS CLASSES */
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 6.8rem !important;
}
.margin-bottom-lg {
  margin-bottom: 12.4rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}
