/**************************/
/* BELOW 1344px (Smaller Desktops) */
/**************************/
@media (max-width: 84em) {
  html {
    font-size: 56.25%; /* 1rem = 9px */
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    font-size: 50%; /* 1rem = 8px */
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  /* MOBILE NAVIGATION */
  .navigation {
    display: block;
  }

  .btn-mobile-nav {
    display: none; /* Hide old toggle */
  }

  .main-nav {
    display: none; /* Hide old nav */
  }

  /* Separate logo on mobile */
  .header {
    background-color: transparent;
    border-bottom: none;
    position: absolute;
    padding: 2rem 4rem;
  }

  .nav-logo {
    z-index: 500;
  }

  .logo {
    height: 5rem;
  }

  /* Logo Slider */
  .logos-row--top .logo-item {
    width: 50vw;
    height: 30rem;
  }

  .logos-row--bottom .logo-item {
    width: 25vw;
    height: 16rem;
  }

  /* Team Section */
  .team-grid {
    grid-template-columns: 1fr 1fr;
  }

  /* Footer */
  .footer-grid {
    grid-template-columns: 1fr 1fr;
    gap: 6.4rem;
  }

  .footer-top {
    flex-direction: column;
    gap: 4rem;
  }

  .footer-heading {
    font-size: 4.4rem;
  }

  .footer-background-text {
    font-size: 20rem;
    bottom: -2rem;
  }
}

/**************************/
/* BELOW 704px (Smaller Tablets) */
/**************************/

@media (max-width: 44em) {
  /* Logo Slider */
  .logos-row--top .logo-item {
    width: 50vw;
    height: 25rem;
  }

  .logos-row--bottom .logo-item {
    width: 33.33vw;
    height: 14rem;
  }

  .team-grid {
    grid-template-columns: 1fr;
  }
  .team-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 2.4rem;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  html {
    font-size: 43.75%; /* 1rem = 7px approx */
  }

  .header {
    padding: 0 2.4rem;
  }
}
